<h1>Data Analysis With Python</h1>

<h3>Importing Pandas and Loading Data</h3>

In [1]:
import pandas as pd

path = 'https://raw.githubusercontent.com/KeithGalli/complete-pandas-tutorial/master/warmup-data/coffee.csv'

<h4>Reading Files into Variables to Work as a Dataframe</h4>

In [2]:
df = pd.read_csv(path)
df

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [3]:
df.head() #Accesing the first 5 rows of the df

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [4]:
df.tail() #Accesing the last 5 rows of the df

         Day Coffee Type  Units Sold
9     Friday       Latte          35
10  Saturday    Espresso          45
11  Saturday       Latte          35
12    Sunday    Espresso          45
13    Sunday       Latte          35

In [5]:
df.sample(10) #Accesing a random sample of the df

          Day Coffee Type  Units Sold
12     Sunday    Espresso          45
8      Friday    Espresso          45
2     Tuesday    Espresso          30
6    Thursday    Espresso          40
10   Saturday    Espresso          45
3     Tuesday       Latte          20
1      Monday       Latte          15
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
7    Thursday       Latte          30

<h4>Using loc e iloc

In [6]:
df.loc[0] #Brings the row on the dataframe

Day              Monday
Coffee Type    Espresso
Units Sold           25
Name: 0, dtype: object

In [7]:
df.loc[[0,1,2]] #Brings the specified rows on the dataframe

       Day Coffee Type  Units Sold
0   Monday    Espresso          25
1   Monday       Latte          15
2  Tuesday    Espresso          30

In [8]:
df.loc[5:8] # Accepts slice notation to bring diferent rows

         Day Coffee Type  Units Sold
5  Wednesday       Latte          25
6   Thursday    Espresso          40
7   Thursday       Latte          30
8     Friday    Espresso          45

In [9]:
df.loc[5:8, ['Coffee Type']] # After the comma is the declaration of the column to access

  Coffee Type
5       Latte
6    Espresso
7       Latte
8    Espresso

In [10]:
df.loc[0, ['Day','Units Sold' ]] # Access to multiple columns in the bracket notation

Day           Monday
Units Sold        25
Name: 0, dtype: object

In [11]:
df.iloc[:, [0,2]] # Works just like loc but uses the index instead of the names of columns
# The : brings all the rows. Same slice notation can be used in the columns

          Day  Units Sold
0      Monday          25
1      Monday          15
2     Tuesday          30
3     Tuesday          20
4   Wednesday          35
5   Wednesday          25
6    Thursday          40
7    Thursday          30
8      Friday          45
9      Friday          35
10   Saturday          45
11   Saturday          35
12     Sunday          45
13     Sunday          35

<h3> Accessing Columns

In [12]:
df.Day #With single name columns is possible to use . notation

0        Monday
1        Monday
2       Tuesday
3       Tuesday
4     Wednesday
5     Wednesday
6      Thursday
7      Thursday
8        Friday
9        Friday
10     Saturday
11     Saturday
12       Sunday
13       Sunday
Name: Day, dtype: object

In [13]:
df['Units Sold'] #With multiple words columns use bracket notation

0     25
1     15
2     30
3     20
4     35
5     25
6     40
7     30
8     45
9     35
10    45
11    35
12    45
13    35
Name: Units Sold, dtype: int64

In [14]:
df.sort_values(['Units Sold'], ascending=False) #Order the values in ascending by default. Use False to descending order

          Day Coffee Type  Units Sold
8      Friday    Espresso          45
10   Saturday    Espresso          45
12     Sunday    Espresso          45
6    Thursday    Espresso          40
4   Wednesday    Espresso          35
9      Friday       Latte          35
11   Saturday       Latte          35
13     Sunday       Latte          35
2     Tuesday    Espresso          30
7    Thursday       Latte          30
0      Monday    Espresso          25
5   Wednesday       Latte          25
3     Tuesday       Latte          20
1      Monday       Latte          15

In [15]:
df.sort_values(['Units Sold', 'Day'], ascending=[0,1]) 
#To sort multiple columns uses bracket notation with 0 to False (descending) and 1 to True (ascending)

          Day Coffee Type  Units Sold
8      Friday    Espresso          45
10   Saturday    Espresso          45
12     Sunday    Espresso          45
6    Thursday    Espresso          40
9      Friday       Latte          35
11   Saturday       Latte          35
13     Sunday       Latte          35
4   Wednesday    Espresso          35
7    Thursday       Latte          30
2     Tuesday    Espresso          30
0      Monday    Espresso          25
5   Wednesday       Latte          25
3     Tuesday       Latte          20
1      Monday       Latte          15

<h3>Filtering Data

In [17]:
df[(df['Units Sold'] > 30)]

          Day Coffee Type  Units Sold
4   Wednesday    Espresso          35
6    Thursday    Espresso          40
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [20]:
df[(df['Units Sold'] > 30) & (df['Coffee Type'] == 'Espresso')]

          Day Coffee Type  Units Sold
4   Wednesday    Espresso          35
6    Thursday    Espresso          40
8      Friday    Espresso          45
10   Saturday    Espresso          45
12     Sunday    Espresso          45

In [23]:
df[(df['Units Sold'] > 30) & (df['Coffee Type'] == 'Espresso')].sort_values('Day')
#Same operation but showing the values sorted by Day alphabeticaly

          Day Coffee Type  Units Sold
8      Friday    Espresso          45
10   Saturday    Espresso          45
12     Sunday    Espresso          45
6    Thursday    Espresso          40
4   Wednesday    Espresso          35

In [30]:
df[df['Day'].isin(['Sunday'])] #Uses 'isin' to filter by content

       Day Coffee Type  Units Sold
12  Sunday    Espresso          45
13  Sunday       Latte          35

In [27]:
# The function 'isin' can pass multiple values
df[(df['Day'].isin(['Friday', 'Saturday', 'Sunday'])) & (df['Units Sold'] > 30)]

         Day Coffee Type  Units Sold
8     Friday    Espresso          45
9     Friday       Latte          35
10  Saturday    Espresso          45
11  Saturday       Latte          35
12    Sunday    Espresso          45
13    Sunday       Latte          35

In [31]:
df[df['Day'].str.startswith('Sun')] #Filtering by part of the content

       Day Coffee Type  Units Sold
12  Sunday    Espresso          45
13  Sunday       Latte          35

In [35]:
df.query('Day == "Wednesday"') #Filtering using specific data in a specific column

         Day Coffee Type  Units Sold
4  Wednesday    Espresso          35
5  Wednesday       Latte          25

<h3> Adding/Removing Columns