<h1>Data Analysis With Python</h1>

<h3>Importing Pandas and Loading Data</h3>

In [2]:
import pandas as pd

path = 'https://raw.githubusercontent.com/KeithGalli/complete-pandas-tutorial/master/warmup-data/coffee.csv'

<h4>Reading Files into Variables to Work as a Dataframe</h4>

In [5]:
df = pd.read_csv(path)
df

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [6]:
df.head() #Accesing the first 5 rows of the df

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [7]:
df.tail() #Accesing the last 5 rows of the df

         Day Coffee Type  Units Sold
9     Friday       Latte          35
10  Saturday    Espresso          45
11  Saturday       Latte          35
12    Sunday    Espresso          45
13    Sunday       Latte          35

In [8]:
df.sample(10) #Accesing a random sample of the df

          Day Coffee Type  Units Sold
9      Friday       Latte          35
4   Wednesday    Espresso          35
8      Friday    Espresso          45
7    Thursday       Latte          30
13     Sunday       Latte          35
2     Tuesday    Espresso          30
12     Sunday    Espresso          45
1      Monday       Latte          15
11   Saturday       Latte          35
3     Tuesday       Latte          20

<h4>Using loc e iloc

In [10]:
df.loc[0] #Brings the row on the dataframe

Day              Monday
Coffee Type    Espresso
Units Sold           25
Name: 0, dtype: object

In [12]:
df.loc[[0,1,2]] #Brings the specified rows on the dataframe

       Day Coffee Type  Units Sold
0   Monday    Espresso          25
1   Monday       Latte          15
2  Tuesday    Espresso          30

In [14]:
df.loc[5:8] # Accepts slice notation to bring diferent rows

         Day Coffee Type  Units Sold
5  Wednesday       Latte          25
6   Thursday    Espresso          40
7   Thursday       Latte          30
8     Friday    Espresso          45

In [16]:
df.loc[5:8, ['Coffee Type']] # After the comma is the declaration of the column to access

  Coffee Type
5       Latte
6    Espresso
7       Latte
8    Espresso

In [18]:
df.loc[0, ['Day','Units Sold' ]] # Access to multiple columns in the bracket notation

Day           Monday
Units Sold        25
Name: 0, dtype: object